/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "PFDinTextCompPro"; src: url("../fonts/pfdintextcomppro-regular.eot"); src: url("../fonts/pfdintextcomppro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular.woff") format("woff"), url("../fonts/pfdintextcomppro-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "PFDinTextCompPro Medium"; src: url("../fonts/pfdintextcomppro-medium.eot"); src: url("../fonts/pfdintextcomppro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-medium.woff") format("woff"), url("../fonts/pfdintextcomppro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "PFDinTextCompPro Light"; src: url("../fonts/pfdintextcomppro-light.eot"); src: url("../fonts/pfdintextcomppro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-light.woff") format("woff"), url("../fonts/pfdintextcomppro-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "PFDinTextCompPro XThin"; src: url("../fonts/pfdintextcomppro-xthin.eot"); src: url("../fonts/pfdintextcomppro-xthin.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-xthin.woff") format("woff"), url("../fonts/pfdintextcomppro-xthin.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Xiomara"; src: url("../fonts/xiomara.eot"); src: url("../fonts/xiomara.eot?#iefix") format("embedded-opentype"), url("../fonts/xiomara.woff") format("woff"), url("../fonts/xiomara.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { position: relative; font-size: 12px; font-family: "PFDinTextCompPro", Arial, sans-serif; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; background: #efefef; min-width: 1024px; }
body.landing { background: #aa8c70; }
body.landing.pace-running .logo_load { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
body.landing.pace-running .slider, body.landing.pace-running .out, body.landing.pace-running .footer { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
body.landing.pace-done .slider, body.landing.pace-done .out, body.landing.pace-done .footer { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: opacity 0.6s ease-in; -moz-transition: opacity 0.6s ease-in; -o-transition: opacity 0.6s ease-in; transition: opacity 0.6s ease-in; -webkit-transition-delay: 1s; -moz-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; }
body.landing.pace-done .logo_load { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; -ms-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); }
body.landing.pace-done .slider__slide1 { -webkit-filter: blur(0); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
body.landing.pace-done .slider__slide1:hover { -webkit-filter: blur(6px); -webkit-transition: all 0.8s linear; -moz-transition: all 0.8s linear; -o-transition: all 0.8s linear; transition: all 0.8s linear; }

.pace-running .out, .pace-running .footer { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.pace-done .out, .pace-done .footer { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: opacity 0.4s ease-in; -moz-transition: opacity 0.4s ease-in; -o-transition: opacity 0.4s ease-in; transition: opacity 0.4s ease-in; }

.logo_load { position: absolute; top: 50%; left: 50%; background: url('../img/icons-s8704d8aa73.png') 0 0 no-repeat; width: 245px; height: 145px; margin-top: -73px; margin-left: -123px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }

.slider { position: absolute; top: 0; right: 0; left: 0; z-index: 1; }
.slider .slider__slide { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; position: absolute; top: 0; right: 0; width: 100%; height: 100%; }
.slider .slider__slide.slider__slide_1 .slider__pic { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.slider .slider__slide.slider__slide_1 .slider__pic.slider__pic_blured { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.pace-done .slider .slider__slide.slider__slide_1 .slider__pic.slider__pic_blured { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: opacity 2s ease-in; -moz-transition: opacity 2s ease-in; -o-transition: opacity 2s ease-in; transition: opacity 2s ease-in; -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; -o-transition-delay: 0.1s; transition-delay: 0.1s; }
.slider .slider__slide.slider__slide_1 .slider__main { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.pace-done .slider .slider__slide.slider__slide_1 .slider__main { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: opacity 0.7s ease-in; -moz-transition: opacity 0.7s ease-in; -o-transition: opacity 0.7s ease-in; transition: opacity 0.7s ease-in; -webkit-transition-delay: 2.2s; -moz-transition-delay: 2.2s; -o-transition-delay: 2.2s; transition-delay: 2.2s; }
.slider .slider__main { width: 700px; margin: 20px auto; position: relative; color: white; text-align: center; }
.slider .slider__logo { background: url('../img/icons-s8704d8aa73.png') 0 -155px no-repeat; width: 245px; height: 145px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }
.slider .slider__title { text-transform: uppercase; font-family: "PFDinTextCompPro XThin", Arial, sans-serif; font-size: 24px; line-height: 1.2; letter-spacing: 0.4em; margin-bottom: 20px; }
.slider .slider__title span { display: block; font-family: "PFDinTextCompPro Medium", Arial, sans-serif; font-size: 140px; letter-spacing: normal; }
.slider .slider__next { color: white; font-family: "Xiomara", Arial, sans-serif; font-size: 30px; cursor: pointer; }
.slider .slider__arrow { display: block; background: url('../img/icons-s8704d8aa73.png') 0 -931px no-repeat; width: 44px; height: 23px; margin-top: 20px; margin-left: auto; margin-right: auto; }

.footer .footer__in { min-width: 1024px; margin: 0 auto; padding: 0 22px; }

.icon { display: inline-block; vertical-align: middle; }
.icon.icon_opt { background: url('../img/icons-s8704d8aa73.png') 0 -964px no-repeat; width: 17px; height: 21px; }
.icon.icon_pin { background: url('../img/icons-s8704d8aa73.png') 0 -857px no-repeat; width: 12px; height: 20px; }
.icon.icon_phone { background: url('../img/icons-s8704d8aa73.png') 0 -802px no-repeat; width: 8px; height: 12px; }
.icon.icon_clock { background: url('../img/icons-s8704d8aa73.png') 0 -995px no-repeat; width: 12px; height: 12px; }
.icon.icon_mail { background: url('../img/icons-s8704d8aa73.png') 0 -517px no-repeat; width: 28px; height: 28px; }
.icon.icon_tel { background: url('../img/icons-s8704d8aa73.png') 0 -437px no-repeat; width: 28px; height: 28px; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -86px; position: relative; }

.push, .footer { height: 86px; }

.footer { position: relative; background: white; -webkit-box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); z-index: 100; }
.footer .footer__in { position: relative; *zoom: 1; padding-top: 18px; padding-bottom: 18px; padding-left: 260px; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__right { position: absolute; right: 22px; top: 18px; }

.logo { position: absolute; top: 50%; margin-top: -25px; left: 22px; display: inline-block; vertical-align: top; }
.logo a { display: block; background: url('../img/icons-s8704d8aa73.png') 0 -377px no-repeat; width: 228px; height: 50px; font: 0/0 a; text-shadow: none; color: transparent; }

.menu { display: inline-block; vertical-align: top; padding-top: 20px; }
.menu .menu__item { display: inline-block; font-size: 16px; color: black; text-transform: uppercase; margin-left: 20px; }
.menu .menu__item a { color: inherit; text-decoration: none; }
.menu .menu__item.is-active a, .menu .menu__item:hover a { color: #979797; }
.menu .menu__item:first-child { margin-left: 0; }

.submenu { display: inline-block; vertical-align: top; padding-top: 8px; margin-left: 31px; }
.submenu .submenu__ul { font-size: 0; }
.submenu .submenu__item { display: inline-block; font-size: 16px; color: black; text-transform: uppercase; margin-right: 0; border: 1px solid #eaeaea; }
.submenu .submenu__item a { display: block; height: 40px; line-height: 22px; padding: 8px 15px; color: inherit; text-decoration: none; border: 2px solid transparent; }
.submenu .submenu__item:first-child { margin-right: -1px; }
.submenu .submenu__item:hover { position: relative; border: 1px solid #ff1419; }
.submenu .submenu__item:hover a { border: 2px solid #ff1419; }
.submenu .submenu__item .icon { position: relative; top: -3px; margin-right: 10px; }
.submenu .submenu__item .icon_pin { top: -2px; }

.social { float: right; margin-right: 25px; display: inline-block; vertical-align: top; padding-top: 15px; }
@media only screen and (max-width: 1170px) { .social { display: none; } }
.social .social__ul { *zoom: 1; }
.social .social__ul:after { content: " "; display: table; clear: both; }
.social .social__item { display: block; float: left; font: 0/0 a; text-shadow: none; color: transparent; }
.social .social__item a { display: block; height: 100%; }
.social .social__item.social__item_vk { background: url('../img/icons-s8704d8aa73.png') 0 -703px no-repeat; width: 23px; height: 23px; }
.social .social__item.social__item_vk:hover { background-position: 0 -555px; }
.social .social__item.social__item_fb { background: url('../img/icons-s8704d8aa73.png') 0 -824px no-repeat; width: 23px; height: 23px; }
.social .social__item.social__item_fb:hover { background-position: 0 -769px; }
.social .social__item.social__item_tw { background: url('../img/icons-s8704d8aa73.png') 0 -736px no-repeat; width: 23px; height: 23px; }
.social .social__item.social__item_tw:hover { background-position: 0 -630px; }

.create { float: right; display: block; margin-top: 11px; background: url('../img/icons-s8704d8aa73.png') 0 -588px no-repeat; width: 34px; height: 32px; font: 0/0 a; text-shadow: none; color: transparent; }
.create:hover { background-position: 0 -475px; }

h1, h2, h3, .h1, .h2, .h3 { font-family: "PFDinTextCompPro Medium", Arial, sans-serif; font-weight: normal; font-style: normal; color: black; line-height: 1; margin-bottom: 1em; text-transform: uppercase; }

h1, .h1 { font-size: 100px; }

h2, .h2 { font-size: 30px; }

h3, .h3 { font-size: 24px; }

.lead { font-family: "PFDinTextCompPro Medium", Arial, sans-serif; text-transform: uppercase; }

.page .page__header { padding-top: 45px; margin-bottom: 85px; }
.page .h1 { text-align: center; margin-bottom: 0; }
.page .page__content { text-align: center; }
.page.page_contacts .page__header { margin-bottom: 20px; }
.page.page_tochki .page__header { margin-bottom: 90px; }
.page.page_tochki .subfilter { margin-top: 35px; }

.breadcrumbs { margin-bottom: 50px; text-align: center; }
.breadcrumbs li { display: inline-block; vertical-align: top; }
.breadcrumbs a { font-size: 16px; color: black; text-decoration: none; font-family: "Xiomara", Arial, sans-serif; }

.container { width: 980px; margin-left: auto; margin-right: auto; }

.catalog { margin-bottom: 85px; }
.catalog .container { padding: 0 58px; }
.catalog .catalog__head { border-bottom: 2px solid black; margin-bottom: 10px; padding-bottom: 15px; *zoom: 1; }
.catalog .catalog__head:after { content: " "; display: table; clear: both; }
.catalog .catalog__group { margin-left: -9px; *zoom: 1; }
.catalog .catalog__group:after { content: " "; display: table; clear: both; }
.catalog .catalog__item { float: left; width: 209px; margin-left: 9px; margin-bottom: 10px; height: 303px; margin-top: 9px; text-align: center; }

.item { position: relative; height: 100%; background: white; padding: 7px 15px; }
.item:hover .item__hotzone { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.item:hover .item__pic:before { content: ""; }
.item .item__hotzone { position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 3px solid black; z-index: 1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.item .item__hotzonemoar { position: absolute; top: 100px; left: 0; width: 100%; text-align: center; color: #ff1e00; font-family: "Xiomara", Arial, sans-serif; font-size: 24px; text-decoration: none; }
.item .item__pic { position: relative; height: 205px; line-height: 205px; overflow: hidden; }
.item .item__pic:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.9); content: none; }
.item .item__pic img { display: inline-block; vertical-align: middle; line-height: 1; max-width: 100%; }
.item .item__title { border-top: 2px solid black; margin-top: 10px; padding-top: 25px; text-transform: uppercase; color: black; font-family: "PFDinTextCompPro Medium", Arial, sans-serif; font-size: 18px; }

.paginator { padding-top: 75px; text-align: center; }
.paginator li { display: inline-block; vertical-align: top; padding: 0 5px; }
.paginator li.is-active a, .paginator li:hover a { background: #ff1419; color: white; }
.paginator a { display: block; color: black; text-decoration: none; font-size: 14px; font-weight: bold; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; height: 20px; width: 20px; line-height: 20px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.filter { float: left; }
.filter .filter__folder { position: relative; float: left; font-size: 20px; text-transform: uppercase; height: 25px; line-height: 25px; margin-left: 20px; }
.filter .filter__folder:before { position: absolute; top: 0; right: 100%; margin-right: 7px; content: "\002F"; }
.filter .filter__folder:first-child { margin-left: 0; }
.filter .filter__folder:first-child:before { content: none; }
.filter .filter__folder:hover a { border: none; }
.filter .filter__folder.is-active a { background: black; padding: 0 7px; color: white; border: none; }
.filter .filter__folder a { display: inline-block; vertical-align: top; color: #262626; text-decoration: none; border-bottom: 1px solid black; }

.subfilter { float: right; }
.subfilter .subfilter__folder { display: inline-block; text-transform: uppercase; font-size: 20px; margin-left: 36px; }
.subfilter .subfilter__folder:first-child { margin-left: 0; }
.subfilter .subfilter__folder:hover a { border: none; }
.subfilter .subfilter__folder.is-active { border: 2px solid black; }
.subfilter .subfilter__folder.is-active a { padding: 0 22px; border: none; }
.subfilter .subfilter__folder a { display: block; color: black; text-decoration: none; height: 26px; line-height: 28px; border-bottom: 1px dotted black; }
.subfilter.subfilter_centered { float: none; text-align: center; }

.contacts .contacts__row { background: white; padding: 50px 0; }
.contacts .contacts__ul { text-align: center; text-transform: uppercase; font-size: 16px; color: black; font-family: "PFDinTextCompPro Medium", Arial, sans-serif; }
.contacts .contacts__ul .marked { color: #454545; font-family: "PFDinTextCompPro Light", Arial, sans-serif; }
.contacts .contacts__ul p { line-height: 1.6; }
.contacts .contacts__ul a { color: inherit; text-decoration: underline; }
.contacts .contacts__ul a:hover { text-decoration: none; }
.contacts .contacts__col { position: relative; display: inline-block; vertical-align: top; padding-left: 40px; margin-left: 117px; }
.contacts .contacts__col:before { position: absolute; top: 0; left: 0; content: ""; }
.contacts .contacts__col:first-child { margin-left: 0; }
.contacts .contacts__col.contacts__col_mail:before { background: url('../img/icons-s8704d8aa73.png') 0 -517px no-repeat; width: 28px; height: 28px; }
.contacts .contacts__col.contacts__col_tel:before { background: url('../img/icons-s8704d8aa73.png') 0 -437px no-repeat; width: 28px; height: 28px; }
.contacts .contacts__col.contacts__col_adr:before { background: url('../img/icons-s8704d8aa73.png') 0 -663px no-repeat; width: 22px; height: 30px; }

.google-map { height: 305px; }
.google-map.google-map_shops { height: 400px; }
.google-map .gmnoprint { display: none; }
.google-map .gm-style-cc { display: none; }
.google-map .google-map__window { text-transform: uppercase; font-size: 16px; color: black; font-family: "PFDinTextCompPro Medium", Arial, sans-serif; }
.google-map .google-map__window span { color: #454545; font-family: "PFDinTextCompPro Light", Arial, sans-serif; }
.google-map .google-map__window a { color: inherit; text-decoration: underline; }
.google-map .google-map__window a:hover { text-decoration: none; }
.google-map a[title] { display: none !important; }

.h-centered { border-top: 2px solid #ff1419; height: 1px; }
.h-centered a { position: relative; text-transform: uppercase; color: #fffefe; background: #ff1419; font-size: 20px; display: inline-block; height: 48px; line-height: 48px; padding: 0 55px; text-decoration: none; top: -24px; }

.shops { background: white; }
.shops .shops__head { position: relative; z-index: 1; }
.shops .shops__content { text-align: left; }
.shops .shops__group { margin-top: 75px; padding-bottom: 80px; }
.shops .shops__group > .container { width: 770px; }
.shops .shops__ul { *zoom: 1; margin-left: -14px; margin-top: -55px; }
.shops .shops__ul:after { content: " "; display: table; clear: both; }
.shops .shops__item { display: inline-block; vertical-align: top; width: 180px; margin-left: 14px; margin-top: 55px; }
.shops .shops__map { position: relative; }

.shop { font-size: 16px; }
.shop p { color: #919191; }
.shop .shop__phone, .shop .shop__clock { position: relative; padding-left: 20px; }
.shop .shop__phone:before, .shop .shop__clock:before { position: absolute; top: 5px; left: 0; content: ""; }
.shop .shop__phone.shop__phone:before, .shop .shop__clock.shop__phone:before { background: url('../img/icons-s8704d8aa73.png') 0 -802px no-repeat; width: 8px; height: 12px; }
.shop .shop__phone.shop__clock:before, .shop .shop__clock.shop__clock:before { background: url('../img/icons-s8704d8aa73.png') 0 -995px no-repeat; width: 12px; height: 12px; }
.shop .shop__title { text-transform: uppercase; color: black; }

.content { margin-bottom: 105px; font-size: 16px; }
.content p { margin-bottom: 1em; }
.content .l { margin-bottom: 40px; }
.content .l-col1 { padding-left: 28px; }
.content .l-col1 p { margin-right: 65px; }
.content .l-col1 figure { margin-bottom: 30px; }
.content .l-col2 { padding-left: 40px; }
.content .article-aside { margin-left: -65px; }
.content .article-aside.article-aside_info { background: white; padding: 50px 25px 50px 60px; width: 640px; }
.content .article-aside .article-aside__contacts { text-transform: uppercase; font-family: "PFDinTextCompPro Medium", Arial, sans-serif; }
.content .article-aside .article-aside__contacts p { color: black !important; }
.content .article-aside .article-aside__contacts a { color: inherit; }
.content .article-aside .article-aside__contacts a:hover { text-decoration: none; }
.content .article-aside .article-aside__contacts .marked { color: #494949; font-family: "PFDinTextCompPro Light", Arial, sans-serif; }
.content .article-aside .icon { margin-right: 10px; }
.content .article-aside ol, .content .article-aside ul { list-style: none; font-size: 0; text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; margin-left: -35px; }
.content .article-aside ol:after, .content .article-aside ul:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.content .article-aside ol li, .content .article-aside ul li { display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; position: relative; padding-left: 35px; width: 46%; display: inline-block; vertical-align: top; font-size: 16px; white-space: normal; text-align: left; }
.content .article-aside ol p, .content .article-aside ul p { margin-bottom: 0; color: #494949; }
.content ol { counter-reset: point; margin-bottom: 60px; }
.content ol li:before { position: absolute; top: -0.3em; left: 0; color: black; line-height: 1; font-size: 36px; content: counter(point) "\002F"; counter-increment: point 1; }
.content .crzytxt { padding-left: 43px; }
.content .crzytxt p { padding-left: 107px; }

.pseudo { text-decoration: none !important; border-width: 0 0 1px; border-style: dotted; border-color: inherit; }
.pseudo:hover { text-decoration: none !important; border-width: 0 0 1px; border-style: dotted; border-color: transparent; }

.has-popup { overflow: hidden; }

.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(51, 51, 51, 0.5); z-index: 1000; display: none; }

.popup-wrap { position: fixed; top: 0; left: 0; right: 0; height: 0; z-index: -1; -ms-overflow-y: scroll; overflow-y: scroll; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.popup-wrap.is-open { z-index: 1001; height: 100%; }
.popup-wrap.is-open .popup.is-open { position: relative; visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.popup { position: absolute; margin-left: -268px; margin-top: 10px; margin-bottom: 10px; left: 50%; padding: 15px; font-size: 16px; text-align: left; width: 536px; z-index: -1; visibility: hidden; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transform: translate3d(0, -150%, 0); -moz-transform: translate3d(0, -150%, 0); -ms-transform: translate3d(0, -150%, 0); -o-transform: translate3d(0, -150%, 0); transform: translate3d(0, -150%, 0); -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; -o-transition: -o-transform 0.3s ease-in; transition: transform 0.3s ease-in; }
.popup .popup__close { position: absolute; top: 30px; right: 32px; cursor: pointer; background: url('../img/icons-s8704d8aa73.png') 0 -887px no-repeat; width: 34px; height: 34px; font: 0/0 a; text-shadow: none; color: transparent; }
.popup .popup__title { font-size: 40px; font-family: "PFDinTextCompPro Medium", Arial, sans-serif; color: black; line-height: 1; text-transform: uppercase; text-align: center; margin-bottom: 65px; }
.popup .popup__in { padding: 25px 25px 80px; border: 1px solid black; }
.popup .popup__form { width: 356px; margin-left: auto; margin-right: auto; text-align: center; }
.popup .popup__form .btn { margin-top: 35px; }

.input, .textarea { display: block; text-align: left; width: 100%; font-size: 16px; text-transform: uppercase; color: black; font-family: "PFDinTextCompPro Light", Arial, sans-serif; margin-bottom: 25px; }
.input:-moz-placeholder, .input::-moz-placeholder, .textarea:-moz-placeholder, .textarea::-moz-placeholder { color: black; opacity: 1; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { color: black; }
.input:focus:-moz-placeholder, .input:focus::-moz-placeholder, .textarea:focus:-moz-placeholder, .textarea:focus::-moz-placeholder { color: transparent; opacity: 1; }
.input:focus::-webkit-input-placeholder, .textarea:focus::-webkit-input-placeholder { color: transparent; }

.input { padding: 13px 0; border-bottom: 2px solid black; }

.textarea { height: 110px; padding-top: 7px; line-height: 34px; overflow: hidden; outline: none; border: none; font-size: 16px; background: url(../img/textarea.jpg); resize: none; }

.btn { background: #ff1419; border: none; color: white; text-transform: uppercase; cursor: pointer; text-decoration: none; line-height: 20px; font-size: 20px; font-family: "PFDinTextCompPro", Arial, sans-serif; padding: 15px 55px 13px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 38%; text-align: right; }
.l .l-col2 { float: right; width: 62%; }
