/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "PFDinTextCompPro"; src: url("../fonts/pfdintextcomppro-regular.eot"); src: url("../fonts/pfdintextcomppro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular.woff") format("woff"), url("../fonts/pfdintextcomppro-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 12px; font-family: "PFDinTextCompPro", Arial, sans-serif; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; background: #efefef; min-width: 1024px; }

.slider { position: absolute; top: 0; right: 0; left: 0; }
.slider .slider__img { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; position: absolute; top: 0; right: 0; width: 100%; height: 100%; }

.navbar .navbar__in { min-width: 1024px; margin: 0 auto; padding: 0 22px; }

.icon { display: inline-block; vertical-align: middle; }
.icon.icon_opt { background: url('../img/icons-sb6c0c2247b.png') 0 -439px no-repeat; width: 17px; height: 21px; }
.icon.icon_pin { background: url('../img/icons-sb6c0c2247b.png') 0 -409px no-repeat; width: 12px; height: 20px; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -86px; position: relative; }

.push, .navbar { height: 86px; }

.navbar { position: absolute; left: 0; bottom: 0; width: 100%; background: white; -webkit-box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); text-align: center; }
.navbar .navbar__in { position: relative; *zoom: 1; padding-top: 18px; padding-bottom: 18px; }
.navbar .navbar__in:after { content: " "; display: table; clear: both; }
.navbar .navbar__right { position: absolute; right: 22px; top: 18px; }

.logo { position: absolute; top: 50%; margin-top: -25px; left: 22px; display: inline-block; vertical-align: top; }
.logo a { display: block; background: url('../img/icons-sb6c0c2247b.png') 0 -67px no-repeat; width: 228px; height: 50px; font: 0/0 a; text-shadow: none; color: transparent; }

.menu { display: inline-block; vertical-align: top; padding-top: 20px; margin-left: 180px; }
.menu .menu__item { display: inline-block; font-size: 16px; color: black; text-transform: uppercase; margin-left: 20px; }
.menu .menu__item a { color: inherit; text-decoration: none; }
.menu .menu__item.is-active a, .menu .menu__item:hover a { color: #979797; }
.menu .menu__item:first-child { margin-left: 0; }

.submenu { display: inline-block; vertical-align: top; padding-top: 8px; margin-left: 31px; }
.submenu .submenu__ul { font-size: 0; }
.submenu .submenu__item { display: inline-block; font-size: 16px; color: black; text-transform: uppercase; margin-right: 0; border: 1px solid #eaeaea; }
.submenu .submenu__item a { display: block; height: 40px; line-height: 22px; padding: 8px 15px; color: inherit; text-decoration: none; border: 2px solid transparent; }
.submenu .submenu__item:first-child { margin-right: -1px; }
.submenu .submenu__item:hover { position: relative; border: 1px solid #ff1419; }
.submenu .submenu__item:hover a { border: 2px solid #ff1419; }
.submenu .submenu__item .icon { position: relative; top: -3px; margin-right: 10px; }
.submenu .submenu__item .icon_pin { top: -2px; }

.social { float: right; margin-right: 25px; display: inline-block; vertical-align: top; padding-top: 15px; }
@media only screen and (max-width: 1170px) { .social { display: none; } }
.social .social__ul { *zoom: 1; }
.social .social__ul:after { content: " "; display: table; clear: both; }
.social .social__item { display: block; float: left; font: 0/0 a; text-shadow: none; color: transparent; }
.social .social__item a { display: block; height: 100%; }
.social .social__item.social__item_vk { background: url('../img/icons-sb6c0c2247b.png') 0 -277px no-repeat; width: 23px; height: 23px; }
.social .social__item.social__item_vk:hover { background-position: 0 -169px; }
.social .social__item.social__item_fb { background: url('../img/icons-sb6c0c2247b.png') 0 -376px no-repeat; width: 23px; height: 23px; }
.social .social__item.social__item_fb:hover { background-position: 0 -343px; }
.social .social__item.social__item_tw { background: url('../img/icons-sb6c0c2247b.png') 0 -310px no-repeat; width: 23px; height: 23px; }
.social .social__item.social__item_tw:hover { background-position: 0 -244px; }

.flex { float: right; display: block; margin-top: 11px; background: url('../img/icons-sb6c0c2247b.png') 0 -202px no-repeat; width: 34px; height: 32px; font: 0/0 a; text-shadow: none; color: transparent; }
.flex:hover { background-position: 0 -127px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
