+font("PFDinTextCompPro", "pfdintextcomppro-regular")

*
	+box
	&:before,
	&:after
		+box

body
	font-size: 12px
	font-family: 'PFDinTextCompPro', Arial, sans-serif
	line-height: 1.4
	+font-smoothing
	background: #efefef
	min-width: 1024px




.slider
	position: absolute
	top: 0
	right: 0
	left: 0
	// min-height: 500px !important
	.slider__img
		+cover
		position: absolute
		top: 0
		right: 0
		width: 100%
		height: 100%

%in
	min-width: 1024px
	margin: 0 auto
	padding: 0 22px

.icon
	display: inline-block
	vertical-align: middle
	&.icon_opt
		+s(opt)
	&.icon_pin
		+s(pin)

.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -86px
	position: relative

.push,
.navbar
	height: 86px

.navbar
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	background: #fff
	+box-shadow(0px 0 20px rgba(#000,.5))
	text-align: center
	// +r(w1170)
		// text-align: left
	.navbar__in
		position: relative
		+clr
		@extend %in
		padding-top: 18px
		padding-bottom: 18px
	.navbar__right
		position: absolute
		right: 22px
		top: 18px

.logo
	position: absolute
	top: 50%
	margin-top: -25px
	left: 22px
	display: inline-block
	vertical-align: top
	a
		display: block
		+s(logo_sm)
		+hidetext

.menu
	display: inline-block
	vertical-align: top
	padding-top: 20px
	margin-left: 180px
	// +r(w1170)
		// margin-left: 265px
	.menu__ul
	.menu__item
		display: inline-block
		font-size: 16px
		color: #000
		text-transform: uppercase
		margin-left: 20px
		a
			color: inherit
			text-decoration: none
		&.is-active,
		&:hover
			a
				color: #979797
		&:first-child
			margin-left: 0

.submenu
	display: inline-block
	vertical-align: top
	padding-top: 8px
	margin-left: 31px
	.submenu__ul
		font-size: 0
	.submenu__item
		display: inline-block
		font-size: 16px
		color: #000
		text-transform: uppercase
		margin-right: 0
		border: 1px solid #eaeaea
		a
			display: block
			height: 40px
			line-height: 22px
			padding: 8px 15px
			color: inherit
			text-decoration: none
			border: 2px solid transparent
		&:first-child
			margin-right: -1px
		&:hover
			position: relative
			border: 1px solid #ff1419
			a
				border: 2px solid #ff1419
		.icon
			position: relative
			top: -3px
			margin-right: 10px
		.icon_pin
			top: -2px

.social
	float: right
	margin-right: 25px
	display: inline-block
	vertical-align: top
	padding-top: 15px
	// margin-left: 10px
	+r(w1170)
		display: none
	.social__ul
		+clr
	.social__item
		display: block
		float: left
		+hidetext
		a
			display: block
			height: 100%
		$networks: vk fb tw
		@each $icon in $networks
			&.social__item_#{$icon}
				+s(#{$icon})
				&:hover
					+sp(#{$icon}_a)

.flex
	float: right
	display: block
	margin-top: 11px
	+s(flex)
	+hidetext
	&:hover
		+sp(flex_a)

