+font("PFDinTextCompPro", "pfdintextcomppro-regular")
+font("PFDinTextCompPro Medium", "pfdintextcomppro-medium")

$font-dr: 'PFDinTextCompPro', Arial, sans-serif
$font-dm: 'PFDinTextCompPro Medium', Arial, sans-serif
$font-base: $font-dr

*
	+box
	&:before,
	&:after
		+box

body
	font-size: 12px
	font-family: 'PFDinTextCompPro', Arial, sans-serif
	line-height: 1.4
	+font-smoothing
	background: #efefef
	min-width: 1024px

.slider
	position: absolute
	top: 0
	right: 0
	left: 0
	// min-height: 500px !important
	.slider__img
		+cover
		position: absolute
		top: 0
		right: 0
		width: 100%
		height: 100%

%in
	min-width: 1024px
	margin: 0 auto
	padding: 0 22px

.icon
	display: inline-block
	vertical-align: middle
	&.icon_opt
		+s(opt)
	&.icon_pin
		+s(pin)

.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -86px
	position: relative

.push,
.footer
	height: 86px

.footer
	position: relative
	background: #fff
	+box-shadow(0px 0 20px rgba(#000,.5))
	z-index: 100
	.footer__in
		position: relative
		+clr
		@extend %in
		padding-top: 18px
		padding-bottom: 18px
		padding-left: 260px
	.footer__right
		position: absolute
		right: 22px
		top: 18px

.logo
	position: absolute
	top: 50%
	margin-top: -25px
	left: 22px
	display: inline-block
	vertical-align: top
	a
		display: block
		+s(logo_sm)
		+hidetext

.menu
	display: inline-block
	vertical-align: top
	padding-top: 20px
	.menu__ul
	.menu__item
		display: inline-block
		font-size: 16px
		color: #000
		text-transform: uppercase
		margin-left: 20px
		a
			color: inherit
			text-decoration: none
		&.is-active,
		&:hover
			a
				color: #979797
		&:first-child
			margin-left: 0

.submenu
	display: inline-block
	vertical-align: top
	padding-top: 8px
	margin-left: 31px
	.submenu__ul
		font-size: 0
	.submenu__item
		display: inline-block
		font-size: 16px
		color: #000
		text-transform: uppercase
		margin-right: 0
		border: 1px solid #eaeaea
		a
			display: block
			height: 40px
			line-height: 22px
			padding: 8px 15px
			color: inherit
			text-decoration: none
			border: 2px solid transparent
		&:first-child
			margin-right: -1px
		&:hover
			position: relative
			border: 1px solid #ff1419
			a
				border: 2px solid #ff1419
		.icon
			position: relative
			top: -3px
			margin-right: 10px
		.icon_pin
			top: -2px

.social
	float: right
	margin-right: 25px
	display: inline-block
	vertical-align: top
	padding-top: 15px
	+r(w1170)
		display: none
	.social__ul
		+clr
	.social__item
		display: block
		float: left
		+hidetext
		a
			display: block
			height: 100%
		$networks: vk fb tw
		@each $icon in $networks
			&.social__item_#{$icon}
				+s(#{$icon})
				&:hover
					+sp(#{$icon}_a)

.create
	float: right
	display: block
	margin-top: 11px
	+s(flex)
	+hidetext
	&:hover
		+sp(flex_a)

.page
	.page__header
		padding-top: 45px
		margin-bottom: 85px
	.page__content

.breadcrumbs
	text-align: center
	margin-bottom: 50px
	a
		font-size: 16px
		color: #000
		text-decoration: none

.h1
	font-family: $font-dm
	text-align: center
	font-size: 100px
	font-weight: normal
	font-style: normal
	color: #000
	line-height: 1
	text-transform: uppercase

.container
	width: 863px
	margin-left: auto
	margin-right: auto

.catalog
	margin-bottom: 85px
	.catalog__head
		border-bottom: 2px solid #000
		margin-bottom: 10px
		padding-bottom: 15px
		+clr
	.catalog__content
	.catalog__group
		margin-left: -9px
		+clr
	.catalog__item
		float: left
		width: 209px
		margin-left: 9px
		margin-bottom: 10px
		height: 303px
		margin-top: 9px

.item
	position: relative
	height: 100%
	background: #fff
	padding: 15px
	text-align: center
	.item__hotzone
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		border: 3px solid transparent
		&:hover
			border: 3px solid #000
	.item__pic
		border-bottom: 2px solid #000
		margin-bottom: 25px
		height: 215px
		line-height: 215px
		overflow: hidden
		img
			display: inline-block
			vertical-align: middle
			line-height: 1
			max-width: 100%
	.item__title
		text-transform: uppercase
		color: #000
		font-family: $font-dm
		font-size: 18px

.paginator
	padding-top: 75px
	text-align: center
	li
		display: inline-block
		vertical-align: top
		padding: 0 5px
		&.is-active,
		&:hover
			a
				background: #ff1419
				color: #fff
	a
		display: block
		color: #000
		text-decoration: none
		font-size: 14px
		font-weight: bold
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
		height: 20px
		width: 20px
		line-height: 20px
		+border-radius(50%)

.filter
	float: left
	.filter__folder
		position: relative
		float: left
		font-size: 20px
		text-transform: uppercase
		height: 25px
		line-height: 25px
		margin-left: 20px
		&:before
			position: absolute
			top: 0
			right: 100%
			margin-right: 7px
			content: "/"
		&:first-child
			margin-left: 0
			&:before
				content: none
		&:hover
			a
				border: none
		&.is-active
			a
				background: #000
				padding: 0 7px
				color: #fff
				border: none
		a
			display: inline-block
			vertical-align: top
			color: #262626
			text-decoration: none
			border-bottom: 1px solid #000

.subfilter
	float: right
	.subfilter__folder
		display: inline-block
		text-transform: uppercase
		font-size: 20px
		margin-left: 36px
		&:hover
			a
				border: none
		&.is-active
			border: 2px solid #000
			a
				padding: 0 22px
				border: none
		a
			display: block
			color: #000
			text-decoration: none
			height: 26px
			line-height: 28px
			border-bottom: 1px dotted #000






